@{
    ViewData["Title"] = "HOLA AMIGUITOS";
}

<div class="text-center">

    <h1>Mi Nombre es Luis Ignacio Hidalgo Molina</h1>
    <h2>Tengo 20 años</h2>
    <h3>Estudio Ingenieria en Sistemas de Informacion</h3>
   <img src="@Url.Content("~/img/1.jpg")" style="width: 700px;">
    <p>Aca muestro un bug algo dificil de ver. Un arquitecto/constructor en un pizzaboy en ves del clasico trabajador del Pizza Stack's</p>
</div>
